body {
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: auto 420px;
  grid-gap: 24px;
  grid-template-areas:
    'main sidebar';
  padding: 24px;
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}
